@charset "utf-8";
/* CSS Document */


body{
	background-color:#4B4DA0;
	width:90%;
	height:auto;
}
a{
	font-family:Century Gothic;
	font-size:26px;
	text-decoration:none;
	color:#fff;
}

a:hover{
	color:#CCC;
	text-decoration:underline;
}


#link{
	margin-top:2.5%;
	margin-left:48%;
}


#map{
	margin-top:5%;
	margin-left:28%;
}

#logo{
	margin-top:3%;
	margin-left:40%;
}